development:
  adapter: postgresql
  encoding: utf8
  database: dbc_api_development
  pool: 5
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: dbc_api_test
  pool: 5
  host: localhost